<div class="large-container center-block">
    <div class="card padding margin-top">
        <h1><%=@article.title%></h1>

        <div>
            <!--Muestra el email del usuario que escribio el articulo-->
            <p>Escrito por: <strong><%= link_to @article.user.email, articles_from_author_articles_path(@article.user.id) %></strong></p>
            <% if @article.user.avatar.attached? %>
                <%= image_tag url_for(@article.user.avatar), height: 100 %>
            <% end %>
        </div>

        <div>
            <%= @article.content %>
        </div>
        
        <div class="margin-top">
            <p class="label">Categorias</p>
            <% @article.categories.each do |category| %>
                <span class="badge badge-pill padding" style="background-color:<%=category.color%>">
                    <%= link_to category.title, category, class:"text-while" %>
                </span>
            <% end %>
        </div>
        
        <% if current_user == @article.user%>
            <div class="card padding margin-top">
                <!--link_to "eliminar el articulo", article_path(:id@article.id)-->
                <%=link_to "Editar articulo", edit_article_path %>
                
                <br/>
                <%=link_to "Eliminar el articulo", @article, method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar este articulo' } %>
                
            </div>
        <% end %>
    </div>
</div>