<div class="large-container center-block">
    <div class="card padding margin-top">
        <h1><%=@article.title%></h1>

        <div>
            <!--Muestra el email del usuario que escribio el articulo-->
            <p>Escrito por: <strong><%= @article.user.email %></strong></p>
        </div>

        <div>
            <%= @article.content %>
        </div>
        
        <div class="card padding margin-top">
            <!--link_to "eliminar el articulo", article_path(:id@article.id)-->
            <%=link_to "Editar articulo", edit_article_path %>
            
            <br/>
            <%=link_to "Eliminar el articulo", @article, method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar este articulo' } %>
            
        </div>
    </div>
</div>