<div class="small-container center-block">
    <div class="card padding margin-top">
        <h2>¿Olvidaste tu contraseña?</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email, "Correo electronico" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
            
            <br/>
        
          <div class="actions">
            <%= f.submit "Recibir instrucciones" %>
          </div>
        <% end %>
            
            <br/>
        
        <%= render "devise/shared/links" %>
    </div>
</div>
